.link {
	border: solid 2px rgb(4, 45, 16);
	border-radius: 25%;
	margin: 8px;
}

.pictures {
	border: 4px solid rgb(14, 65, 14);
	margin: 4px;
	border-radius: 15%;
}


h1 {
	font-size: 50px;
	padding: 20px;
}

p {
	font-size: 15px;


}

.bi {
	font-size: 20px;
	color: black;


}

.family{
	padding-top: 15px;
	margin-top: 20px;
}
.map{
	border-radius: 5px;
	
}
.contact{
	display: flex;
	justify-content: space-evenly;
}

